@use 'styles/theme' as portal;

html {
  @include portal.apply-theme();
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: 'Manrope', 'Roboto', "Helvetica Neue", sans-serif;
  background-color: #FBFAF3;
  color: #111111;
}
